<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universe | 電玩遊戲專賣店</title>

    <%- include('share/link'); -%>

        <!-- index用 -->
        <link rel="stylesheet" href="/css/index/indexSet.css">
        <link rel="stylesheet" href="/css/index/indexBG.css">
        <link rel="stylesheet" href="/css/index/indexP1.css">
        <link rel="stylesheet" href="/css/index/indexP2.css">
        <link rel="stylesheet" href="/css/index/indexP3.css">

        <!-- 遊戲 -->
        <link rel="stylesheet" href="/css/game/gameSet.css">
        <link rel="stylesheet" href="/css/game/gameMario.css">
        <link rel="stylesheet" href="/css/game/gameMinecraft.css">


</head>

<body>

    <%- include('share/header'); -%>
        <indexBody>
            <div id="indexP1" class="bg">
                <%- include('share/logo'); -%>
                    <div id="carouselExampleIndicators" class="AdSetPosition carousel slide" data-ride="carousel">
                        <img id="AdL" class="curHover" href="#carouselExampleIndicators" role="button" data-slide="prev" src="/img/index/set/P1/木馬2.png">
                        <div class="AD">
                            <a href="" class="carousel-item active"><img id="ad1" class="curHover" src="/img/index/ad/B2.jpg"></a>
                            <a href="" class="carousel-item"><img id="ad2" class="curHover" src="/img/index/ad/B3.jpg"></a>
                            <a href="" class="carousel-item"><img id="ad3" class="curHover" src="/img/index/ad/B4.jpg"></a>
                            <a href="" class="carousel-item"><img id="ad4" class="curHover" src="/img/index/ad/BB1.jpg"></a>
                            <a href="" class="carousel-item"><img id="ad5" class="curHover" src="/img/index/ad/BB2.jpg"></a>
                            <a href="" class="carousel-item"><img id="ad6" class="curHover" src="/img/index/ad/BB3.jpg"></a>
                        </div>
                        <div class="adBottom carousel-indicators">
                            <img id="B1" class="curHover B active" data-target="#carouselExampleIndicators" data-slide-to="0" src="/img/index/set/P1/adBottom.png">
                            <img id="B2" class="curHover B" data-target="#carouselExampleIndicators" data-slide-to="1" src="/img/index/set/P1/adBottom.png">
                            <img id="B3" class="curHover B" data-target="#carouselExampleIndicators" data-slide-to="2" src="/img/index/set/P1/adBottom.png">
                            <img id="B4" class="curHover B" data-target="#carouselExampleIndicators" data-slide-to="3" src="/img/index/set/P1/adBottom.png">
                            <img id="B5" class="curHover B" data-target="#carouselExampleIndicators" data-slide-to="4" src="/img/index/set/P1/adBottom.png">
                            <img id="B6" class="curHover B" data-target="#carouselExampleIndicators" data-slide-to="5" src="/img/index/set/P1/adBottom.png">
                        </div>
                        <img id="AdR" class="curHover" href="#carouselExampleIndicators" role="button" data-slide="next" src="/img/index/set/P1/木馬2.png">
                    </div>
                    <div class="setL1">
                        <img class="setL1Img" src="/img/index/set/P1/推薦商品外框.png">
                        <img class="setL1Img2 bouncingLoader" src="/img/index/set/P1/推薦商品_NEW.png">
                        <div class="setL1P">
                            <span>【PS4】PS4 Pro 專業版 主機 冰河白 1TB 雙手把同捆組</span>
                        </div>
                        <div class="setL1PriceSet">
                            <img class="setL1PPriceImg" src="/img/index/set/P1/價格黑框2.png" alt="">
                            <span class="setL1Price">NT12980</span>
                        </div>
                    </div>
                    <div class="setL1-2">
                        <img class="setL1Img" src="/img/index/set/P1/推薦商品外框.png">
                        <img class="setL1Img2 bouncingLoader" src="/img/index/set/P1/推薦商品_NEW.png">
                        <div class="setL1P">
                            <span>【PS4】PS4 Pro 專業版 主機 極致黑 1TB 雙手把同捆組</span>
                        </div>
                        <div class="setL1PriceSet">
                            <img class="setL1PPriceImg" src="/img/index/set/P1/價格黑框2.png" alt="">
                            <span class="setL1Price">NT12980</span>
                        </div>
                    </div>
                    <div class="setL2">
                        <div class="setLadP">
                            <h2>最後生還者2</h2>
                            <span>好評發售中!</span>
                        </div>
                        <div class="setLadP">
                            <h2>Pokemon Unite</h2>
                            <span>熱烈預約中!</span>
                        </div>
                    </div>
                    <div class="setL2-2">
                        <a href=""><img id="ios" class="curHover" src="/img/index/set/P1/bnr_ios.png"></a>
                        <a href=""><img id="android" class="curHover" src="/img/index/set/P1/android.png" alt=""></a>
                        <a href=""><img id="QR" class="curHover" src="/img/index/set/P1/QR.png" alt=""></a>
                    </div>
                    <div class="setR1">
                        <a href="/discount"><img id="discountButton" class="curHover pulse-grow" src="/img/index/set/P1/省錢專區.png" alt=""></a>
                        <div class="playGame">
                            <span id="gameName">每日小遊戲</span>
                            <img id="gameNameImg" src="/img/index/set/P1/每日小遊戲.png" alt="">
                            <img id="setR1Img" src="/img/index/set/P1/影片框.png">
                            <img id="gamePlayImg" class="curHover" data-toggle="modal" data-target="#myOrderGame" data-backdrop="static" src="/img/index/set/P1/播放.png" alt="">
                        </div>
                    </div>

                    <div id="adVideoSet">
                        <img id="adVideo" src="/img/index/set/P1/switch.png" alt="">
                        <div id="adVideoImgBox">
                            <img id="adVideoImg" src="/img/index/set/P1/B2.jpg">
                            <img id="adVideoIcon" class="notShow curHover" src="/img/index/set/P1/youtubeIcon.png">
                        </div>
                    </div>
                    <div id="showVideo">
                        <!-- <iframe id="videoPlaying" width="560" height="315" src="https://www.youtube.com/embed/9CjvlhJMkcc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        <iframe id="videoPlaying" width="560" height="315" src="https://www.youtube.com/embed/JH2vhuQsYqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <button id="videoClose" class="btn btn-dark curHover">離開</button>
                    </div>

                    <div id="newMSGBox">
                        <img id="newMSGImg" src="/img/index/set/P1/最新消息框.png" alt="">
                        <div id="newMSG">
                            <p><a class="curHover" href="">【振興換真心】真心加碼券開跑！消費滿3,000元即可獲得600元真心加碼券！</a></p>
                            <p><a class="curHover" href="">【省錢技巧】知己知彼，百玩不殆！三倍券怎麼花最划算？ </a></p>
                            <p><a class="curHover" href="">【PS4專屬】PS4帶頭防疫，用滿滿的愛與優惠填補你無法出門的空虛寂寞！</a></p>
                            <p><a class="curHover" href="">【8.1開跑】消費即送電影票，趕緊揪團看電影！送完為止！</a></p>
                            <p><a class="curHover" href="">【抽獎活動】會員召集令，揪好友加入會員抽送 NS《健身環大冒險》！</a></p>
                        </div>
                    </div>

                    <div id="adRight" class="setR2">
                        <img id="adClose" src="/img/index/set/P1/X.png" alt="">
                        <img id="adRightImg" class="curHover" src="/img/index/set/P1/B1.jpg">
                    </div>
                    <% if(data) { %>
                        <div id="welcome" class="w0">
                            <div id="lineBox">
                                <p class="displayNone">
                                    <%= userName[0].name %>
                                </p>
                                <p class="pRun">Welcome to Universe!</p>
                                <hr id="lineX" class="lineRun">
                            </div>
                        </div>
                        <% }; %>
            </div>
            <div id="indexP2" class="bg">
                <div id="P2Box">
                    <a class="P2Ad" href=""><img class="curHover" src="/img/index/set/P2/C1.jpg" alt=""></a>
                    <a class="P2Ad" href=""><img class="curHover" src="/img/index/set/P2/C2.jpg" alt=""></a>
                    <a class="P2Ad" href=""><img class="curHover" src="/img/index/set/P2/C3.jpg" alt=""></a>
                    <a class="P2Ad" href=""><img class="curHover" src="/img/index/set/P2/C4.jpg" alt=""></a>
                    <a class="P2Ad" href=""><img class="curHover" src="/img/index/set/P2/C5.jpg" alt=""></a>
                    <a class="P2Ad" href=""><img class="curHover" src="/img/index/set/P2/C6.jpg" alt=""></a>
                </div>
            </div>
            <div id="indexP3" class="bg">
                <img id="hot" src="/img/index/set/P3/hot.png" alt="">
                <!-- 熱銷排行 -->
                <img id="P3Title1" src="/img/index/set/P3/大標題熱銷排行.png" alt="">
                <div id="topPd">
                    <% for(let i=0; i<selectPd[0].length ;i++){ %>
                        <!-- 商品1 -->
                        <div class="pdThreeEqual">
                            <div class="pdBox">
                                <a href="/pdMsg?id=<%= selectPd[0][i].productID %>">
                                    <img class="product curHover" src="/img/shopping/商品/<%= selectPd[0][i].style %>/<%= selectPd[0][i].type %>/<%= selectPd[0][i].images %>.png" alt="">
                                </a>
                            </div>
                            <img class="P3SetBottomImg" src="/img/index/set/P3/商品基座藍.png" alt="">
                            <div class="P3SetBottom">
                                <span><%= selectPd[0][i].name %></span>
                                <img src="/img/index/set/P3/商品名BG.png" alt="">
                            </div>
                            <span class="pdPrice">NT$<%= selectPd[0][i].price %></span>
                        </div>
                        <% } %>
                </div>
                <!-- switch -->
                <img id="switchTitle" src="/img/index/set/P3/小標題switch.png" alt="">
                <div id="switch" class="pdSetPosition">
                    <img id="switchP3L" class="P3L curHover" src="/img/index/set/P3/左箭頭.png" alt="">
                    <img id="switchP3R" class="P3R curHover" src="/img/index/set/P3/右箭頭.png" alt="">
                    <div class="allPdBox">
                        <div class="pdSet pdSwitch">
                            <% for(let i=0; i<selectPd[1].length ;i++){ %>
                                <!-- 商品1 -->
                                <div class="pdThreeEqual">
                                    <div class="pdBox">
                                        <a href="/pdMsg?id=<%= selectPd[1][i].productID %>">
                                            <img class="product curHover" src="/img/shopping/商品/<%= selectPd[1][i].style %>/<%= selectPd[1][i].type %>/<%= selectPd[1][i].images %>.png" alt="">
                                        </a>
                                    </div>
                                    <img class="P3SetBottomImg" src="/img/index/set/P3/商品基座藍.png" alt="">
                                    <div class="P3SetBottom">
                                        <span><%= selectPd[1][i].name %></span>
                                        <img src="/img/index/set/P3/商品名BG.png" alt="">
                                    </div>
                                    <span class="pdPrice">NT$<%= selectPd[1][i].price %></span>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <!-- ps4 -->
                <img id="ps4Title" src="/img/index/set/P3/小標題ps4.png" alt="">
                <div id="ps4" class="pdSetPosition">
                    <img id="ps4P3L" class="P3L curHover" src="/img/index/set/P3/左箭頭.png" alt="">
                    <img id="ps4P3R" class="P3R curHover" src="/img/index/set/P3/右箭頭.png" alt="">
                    <div class="allPdBox">
                        <div class="pdSet pdPs4">
                            <% for(let i=0; i<selectPd[2].length ;i++){ %>
                                <!-- 商品1 -->
                                <div class="pdThreeEqual">
                                    <div class="pdBox">
                                        <a href="/pdMsg?id=<%= selectPd[2][i].productID %>">
                                            <img class="product curHover" src="/img/shopping/商品/<%= selectPd[2][i].style %>/<%= selectPd[2][i].type %>/<%= selectPd[2][i].images %>.png" alt="">
                                        </a>
                                    </div>
                                    <img class="P3SetBottomImg" src="/img/index/set/P3/商品基座藍.png" alt="">
                                    <div class="P3SetBottom">
                                        <span><%= selectPd[2][i].name %></span>
                                        <img src="/img/index/set/P3/商品名BG.png" alt="">
                                    </div>
                                    <span class="pdPrice">NT$<%= selectPd[2][i].price %></span>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <!-- xbox -->
                <img id="xboxTitle" src="/img/index/set/P3/小標題xbox.png" alt="">
                <div id="xbox" class="pdSetPosition">
                    <img id="xboxP3L" class="P3L curHover" src="/img/index/set/P3/左箭頭.png" alt="">
                    <img id="xboxP3R" class="P3R curHover" src="/img/index/set/P3/右箭頭.png" alt="">
                    <div class="allPdBox">
                        <div class="pdSet pdXbox">
                            <% for(let i=0; i<selectPd[3].length ;i++){ %>
                                <!-- 商品1 -->
                                <div class="pdThreeEqual">
                                    <div class="pdBox">
                                        <a href="/pdMsg?id=<%= selectPd[3][i].productID %>">
                                            <img class="product curHover" src="/img/shopping/商品/<%= selectPd[3][i].style %>/<%= selectPd[3][i].type %>/<%= selectPd[3][i].images %>.png" alt="">
                                        </a>
                                    </div>
                                    <img class="P3SetBottomImg" src="/img/index/set/P3/商品基座藍.png" alt="">
                                    <div class="P3SetBottom">
                                        <span><%= selectPd[3][i].name %></span>
                                        <img src="/img/index/set/P3/商品名BG.png" alt="">
                                    </div>
                                    <span class="pdPrice">NT$<%= selectPd[3][i].price %></span>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <!-- 更多 -->
                <div id="more">
                    <span>瀏覽更多</span>
                    <hr>
                </div>
                <!-- 熱門新品 -->
                <img id="hotNew" src="/img/index/set/P3/大標題熱門新品.png" alt="">
                <div id="hotNewPdBox">
                    <% for(let i=0; i<selectPd[4].length ;i++){ %>
                        <!-- 商品 -->
                        <div class="hotNewPd">
                            <img class="hotNewPdBg" src="/img/index/set/P3/商品BG2.png" alt="">
                            <img id="pd_<%= selectPd[4][i].productID %>" class="like notStar curHover hotNewPdStar" src="/img/index/set/P3/暗星星2.png" alt="">
                            <a href="/pdMsg?id=<%= selectPd[4][i].productID %>">
                                <img class="curHover hotNewPdImg" src="/img/shopping/商品/<%= selectPd[4][i].style %>/<%= selectPd[4][i].type %>/<%= selectPd[4][i].images %>.png" alt="">
                            </a>
                            <div class="hotNewPdPriceBox">
                                <img class="hotNewPdPriceImg" src="/img/index/set/P3/價格黑框2.png" alt="">
                                <span class="hotNewPdPrice">NT$<%= selectPd[4][i].price %></span>
                            </div>
                            <div class="hotNewPdNameBox">
                                <img class="hotNewPdNameImg" src="/img/index/set/P3/商品名BG.png" alt="">
                                <span class="hotNewPdName"><%= selectPd[4][i].name %></span>
                            </div>
                        </div>
                        <% } %>
                </div>
                <div id="seeMore">
                    <span>查看更多:　</span>
                    <span class="seeMoreA"><a class="curHover" href="">熱門新品</a></span>
                    <span>　或　</span>
                    <span class="seeMoreA"><a class="curHover" href="">所有新品</a></span>
                </div>
            </div>
        </indexBody>
        <%- include('share/footer'); -%>

            <!-- P1遊戲彈跳頁 -->
            <div id="myOrderGame" class="modal">
                <!-- <video src="/img/index/set/gameBG/黑色行动3.mov" autoplay loop playsinline muted></video> -->
                <!-- <iframe width="330" height="560" src="lab/gameMario.html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <div id="gamePosition">
                    <!-- 塞遊戲 -->
                </div>
            </div>


            <script src="/js/share/share.js"></script>
            <script src="/js/index/index.js"></script>

            <script>
                $(function() {

                    var localFavor = [];
                    var showLocal;

                    if ("<%= data %>") {
                        var show_collectList = [];
                        var collectList = [];

                        $.get("/show_collect", function(e) {
                            show_collectList = JSON.parse(e);
                            refreshFavor();
                        })
                        $.get("/collect", function(e) {
                            collectList = JSON.parse(e);
                        })

                        function refreshFavor() {
                            for (let index = 0; index < show_collectList.length; index++) {
                                $("#pd_" + show_collectList[index].productID).removeClass("notStar").addClass("showStar").attr("src", "/img/index/set/P3/商品星星.png");
                            }
                        }
                    } else {
                        if (localStorage.getItem("localFavor") != null) {
                            showLocal = localStorage.getItem("localFavor").split(",");
                            for (let index = 0; index < showLocal.length; index++) {
                                localFavor[index] = showLocal[index];
                                $("#pd_" + showLocal[index]).removeClass("notStar").addClass("showStar").attr("src", "/img/index/set/P3/商品星星.png");
                            }
                        }
                    }


                    // P3 星星收藏
                    $(document).on("click", ".like.notStar", function() {
                        $(this).removeClass("notStar").addClass("showStar").attr("src", "/img/index/set/P3/商品星星.png");
                        var joinFavor = $(this).attr("id").split("_", 2);

                        if ("<%= data %>") {
                            collectList[0].productID = joinFavor[1];
                            $.ajax({
                                type: "post",
                                url: "/collect",
                                data: collectList[0]
                            })
                        } else {
                            localFavor[localFavor.length] = parseInt(joinFavor[1]);
                            localStorage.setItem("localFavor", localFavor);
                        }
                    });


                    $(document).on("click", ".like.showStar", function() {
                        $(this).removeClass("showStar").addClass("notStar").attr("src", "/img/index/set/P3/暗星星2.png");
                        var delFavor = $(this).attr("id").split("_", 2);

                        if ("<%= data %>") {
                            collectList[0].productID = delFavor[1];
                            $.ajax({
                                type: "delete",
                                url: "/collect",
                                data: collectList[0]
                            })
                        } else {
                            var result = localFavor.filter(localFavor => localFavor != delFavor[1]);
                            localFavor = result;
                            localStorage.setItem("localFavor", localFavor);
                        }
                    });


                    if ("<%= data %>") {
                        var filter_favor = [];
                        var user_favor = [];

                        $.get("/show_collect", function(e) {
                            filter_favor = JSON.parse(e);
                        })
                        $.get("/collect", function(e) {
                                user_favor = JSON.parse(e);
                            })
                            // 存入收藏
                        if (localStorage.getItem("localFavor") != null && localStorage.getItem("localFavor").length > 0) {
                            setTimeout(function() {
                                Swal.fire({
                                    allowOutsideClick: false,
                                    text: "遊客收藏清單，將於30天後刪除，您要將資料存入會員嗎?",
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: '存入會員!',
                                    cancelButtonText: '暫時不要',
                                    // timer: 5000,
                                    timerProgressBar: true,
                                    onOpen: (toast) => {
                                        toast.addEventListener('mouseenter', Swal.stopTimer)
                                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                                    }
                                }).then((result) => {
                                    if (result.value) {
                                        Swal.fire(
                                            '加入成功!',
                                            '',
                                            'success'
                                        )
                                        var x_filters = [];
                                        var result_filters = [];
                                        var join_local = localStorage.getItem("localFavor").split(",");
                                        if (filter_favor.length > 0) {
                                            for (let index = 0; index < filter_favor.length; index++) {
                                                x_filters[index] = (filter_favor[index].productID).toString();
                                            }
                                            result_filters = $(join_local).not(x_filters).toArray();
                                        } else {
                                            result_filters = $(join_local);
                                        }

                                        for (let index = 0; index < result_filters.length; index++) {

                                            user_favor[0].productID = result_filters[index];
                                            $.ajax({
                                                type: "post",
                                                url: "/collect",
                                                data: user_favor[0]
                                            })
                                        }
                                        localStorage.removeItem("localFavor");

                                    } else {
                                        Swal.fire(
                                            '取消!'
                                        )
                                    }
                                })

                            }, 4000);
                        }
                    }
                    // 存入收藏
                })
            </script>

            <!-- 載入遊戲 -->
            <script src="/js/game/gameMario.js"></script>
            <script src="/js/game/gameMinecraft.js"></script>

            <!-- DEMO -->
            <script>
                $("#demo_use_login").click(function() {
                    $("#memberUser").val("user@gmail.com");
                    $("#memberPw").val("user66");
                });
            </script>

</body>

</html>